<%- include("partials/header") %>

<!-- Background image -->
<div id="intro" class="bg-image shadow-2-strong">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.8);">
    <div class="container d-flex align-items-center justify-content-center text-center h-100">
      <div class="text-white">
        <h1 class="mb-3">WELCOME TO FINANCORP SERVICES</h1>
        <h3 class="mb-3">A SECURITY SERVICE TO KEEP YOUR MONEY SECURE</h3>
        <!-- <h5 class="mb-4">Join Us for a breathtaking experience....</h5> -->
        <a class="btn btn-outline-light btn-lg m-2" href="/sendmoney" role="button">Make A Transaction</a>
        <a class="btn btn-outline-light btn-lg m-2" href="/home" role="button">Connect to Phone</a>
      </div>
    </div>
  </div>
</div>
<!-- Background image -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main class="mt-5">
  <div class="container">
    <!--Section: Content-->

    <hr class="my-5" />

    <!--Section: Content-->
    <section class="text-center" id="customers">
      <br><br>
      <h4 class="mb-5"><strong>TEAM MEMBERS</strong></h4>

      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card" style="background-color:black;color:white;">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="https://m.media-amazon.com/images/I/31bEY8VT3YL.jpg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">MRIGANK SACHAN</h5>
              <p class="card-text">
                19BDS0050
              </p>

            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card" style="background-color:black;color:white;">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="https://m.media-amazon.com/images/I/31bEY8VT3YL.jpg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">SAMARTH GUPTA</h5>
              <p class="card-text">
                19BDS0042
              </p>

            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card" style="background-color:black;color:white;">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="https://m.media-amazon.com/images/I/31bEY8VT3YL.jpg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">SANCHIT GUPTA</h5>
              <p class="card-text">
                19BDS0075
              </p>

            </div>
          </div>
        </div>
        <br>
        
        <div class="col-lg-4 col-md-6 mb-4" style="margin-left: 210px;">
          <div class="card" style="background-color:black;color:white;">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="https://m.media-amazon.com/images/I/31bEY8VT3YL.jpg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">TUSHAR SINGLA</h5>
              <p class="card-text">
                19BDS0029
              </p>

            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card" style="background-color:black;color:white;">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="https://m.media-amazon.com/images/I/31bEY8VT3YL.jpg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">TUSHAR S AGARWAL</h5>
              <p class="card-text">
                19BCE0559
              </p>

            </div>
          </div>
        
      </div>
      </div>
    </section>
    <hr class="my-5" />

    <!--Section: Content-->
    <section id="about">
      <br><br>
      <div class="row">
        <div class="col-md-6 gx-5 mb-4">
          <div class="bg-image hover-overlay ripple shadow-2-strong" data-mdb-ripple-color="light">
            <img src="https://mdbootstrap.com/img/new/slides/031.jpg" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
        </div>

        <div class="col-md-6 gx-5 mb-4">
          <h4><strong>About US</strong></h4>
          <h5>CYBER SECURITY THREATS IN FINANCIAL INSTITUTIONS AMID COVID-19</h5>
          <p class="text-muted">
            COVID-19 resulted in a pandemic after the breakout in China. As we know, Information and Communications Technology plays a major part in connecting individuals and also helps in carrying out important tasks. The result of this pandemic led the all the organizations to adopt online platforms. The hackers and attackers have considered COVID-19 as a chance to dispatch assaults for monetary benefits and leaking confidential information to earn gains. 
This project recognizes the rising internet banking related cybercrimes from different papers and journals and then proposes another framework for working and improving the security in financial institutions. This project also examines the most current situations of internet banking and digital assaults. It focuses on cyber-crimes connected to online banking and new methods employed by hackers to assault the system.



          </p>
          <p><strong>Objectives</strong></p>
          <p class="text-muted">
           <li>To do a review of the current Internet banking security implementations and their shortcomings.<br></li> 
            <li>To do literature survey of already existing systems and finding out the limitations.<br></li>
            <li>To propose a new secured system for internet banking security.<br></li>
            <li>To implement a 3-level security for Internet banking systems<br></li>
            <li>To include User authentication (device access control) module.<br></li>
            <li>To include Device/Server authentication module.<br></li>
            <li>Transaction data security (network security) module.<br></li>

          </p>
        </div>
      </div>
    </section>
    <!--Section: Content-->

    <hr class="my-5" />

    <!--Section: Content-->
    <section class="mb-5" id="form">
      <form class="" action="/index" method="post">


        <h4 class="mb-5 text-center"><strong>If you face any issues,contact us......</strong></h4>

        <div class="row d-flex justify-content-center">
          <div class="col-md-6">
            <form>
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <input type="text" id="form3Example1" class="form-control" />
                    <label class="form-label" for="form3Example1">First name</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input type="text" id="form3Example2" class="form-control" />
                    <label class="form-label" for="form3Example2">Last name</label>
                  </div>
                </div>
              </div>

              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" id="form3Example3" class="form-control" />
                <label class="form-label" for="form3Example3">Email address</label>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="text" id="form3Example4" class="form-control" />
                <label class="form-label" for="form3Example4">Phone Number</label>
              </div>

              <!-- Checkbox -->
              <div class="form-check d-flex justify-content-center mb-4">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" checked />
                <label class="form-check-label" for="form2Example3">
                  Subscribe to our newsletter
                </label>
              </div>

              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Sign up
              </button>

              <!-- Register buttons -->
              <div class="text-center">
                <p>or sign up with:</p>
                <button type="button" class="btn btn-primary btn-floating mx-1">
                  <i class="fab fa-facebook-f"></i>
                </button>

                <button type="button" class="btn btn-primary btn-floating mx-1">
                  <i class="fab fa-google"></i>
                </button>

                <button type="button" class="btn btn-primary btn-floating mx-1">
                  <i class="fab fa-twitter"></i>
                </button>

                <button type="button" class="btn btn-primary btn-floating mx-1">
                  <i class="fab fa-github"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </form>
    </section>
    <!--Section: Content-->
  </div>
</main>
<!--Main layout-->

<!--Footer-->
<footer class="bg-light text-lg-start">


  <hr class="m-0" />



</footer>
<!--Footer-->
<!-- MDB -->
<script type="text/javascript" src="js/mdb.min.js"></script>
<!-- Custom scripts -->
<script type="text/javascript" src="js/script.js"></script>
<%- include("partials/footer") %>