html,
body {
  height: 100%;

}
/* header{
  font-size: 15px;
  font-family: 'helvetica neue';
  padding: 0px 15px;

} */

body {
  /* display: -ms-flexbox; */
  /* display: flex; */
  -ms-flex-align: center;
  /* align-items: center; */
  margin: auto;
  /* padding-top: 70px; */
  padding-bottom: 40px;
  background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,34,68,0.8410714627647934) 40%, rgba(0,212,255,1) 100%);
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.top{
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.middle{
  border-radius: 0;
  margin-bottom: -1px;
}
.middle {
  margin-bottom: 10px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
